<div class="title">
  <h1>
    {{ title }}
  </h1>
</div>

<router-outlet></router-outlet>
<table style="width:100%;text-align: left;" class="table">
  <tr>
    <th class="c1" style="font-family: cursive;"><app-card1></app-card1></th><br>
    <th class="c2" style="font-family: cursive;"><app-card2></app-card2></th><br>
    <th class="c3" style="font-family: cursive;"><app-card3></app-card3></th><br>
    <th class="c4" style="font-family: cursive;"><app-card4></app-card4></th><br>
  </tr>
</table>


