  <div class="det">
    <h1>
    <span>{{ title }}</span>
  </h1>
  <br>
  <div class="card">
      <div class="card-image">
        <div class="background-image"></div>
        <div class="publication-details">
          <a href="#" class="author">
            <i class="far fa-user"></i>
            Stay tuned at Grapido</a>
          <span class="date"><i class="fas fa-calendar-alt"></i> June 21, 2020</span>
        </div>
      </div>

      <div class="card-content">
        <h1 class="title">International academic conference on engineering and technology</h1>
        <h2 class="subtitle">Photos of International academic conference on engineering and technology.</h2>
        <p>Start Time: 10:00 AM<br>Registration Date: 2020-03-31</p><br>
        <h3>Details:-</h3><br>
        <p class="description">
          International Academic Conference on Engineering and Technology bring together innovative
          academics and industrial experts in the field of Science, Engineering and Technology to a common forum.
          The idea of the conference is for the scientists, scholars, engineers, and students from the Universities.
        </p><br>
        <div class="buttons">
    <button class="b1" type="button">APPROVE</button>
    <button class="b2" type="button">REJECT</button>
  </div>
        <div class="cta">
          <a href="#">Read more &rarr;</a>
        </div>
      </div>
    </div>
  
  <app-eventname></app-eventname>
</div>

